.game-summary {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.game-summary h3 {
  font-size: 1.5rem;
}

.game-summary-header {
  height: 5rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgrey;
}

.game-summary-title {
  flex-grow: 1;
}

.game-summary-date {
  color: #55606c;
}

.game-summary-scores-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}

.game-summary-score-card {
  border: 1px solid lightgrey;
  background: #f8f9fa;
  border-radius: 8px;
  padding: 1rem 0.75rem;
}

.game-summary-score-label {
  color: #55606c;
  margin: 0 0 1rem;
}

.game-summary-score {
  font-size: 2rem;
  margin: 0;
  font-weight: bold;
}

.game-result-banner {
  display: flex;
  padding: 0.75rem;
  color: rgb(207, 17, 36);
  border: 1px solid rgb(207, 17, 36);
  background-color: rgba(207, 17, 36, 0.15);
  border-radius: 1rem;
  margin-bottom: 1rem;
  gap: 0.75rem;
  align-items: center;
  font-weight: 500;
  font-size: 1.1rem;
}

.game-result-banner.success {
  color: rgb(25, 148, 115);
  border: 1px solid rgb(25, 148, 115);
  background-color: rgba(25, 148, 115, 0.15);
}

.game-result-icon {
  width: 2rem;
  height: 2rem;
}
