.code-line .code-line-number,
code {
  font-family: Consolas, monospace !important;
}

.code-block {
  overflow-x: auto;
}

.code-block.interactive .code-line {
  cursor: pointer;
}

.code-block.interactive .code-line:hover {
  background-color: lightgray;
}

.code-line {
  display: flex;
  align-items: center;
  padding: 0.05rem;
  margin: 0;
  line-height: 1.25rem;
}

.code-line-number {
  width: 2.5rem;
  margin-right: 1rem;
  text-align: right;
  color: darkslategray;
  flex-shrink: 0;
}
