/* Sidebar Container */
.sideBarNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  height: calc(100vh - 60px);
  background-color: #f8f9fa;
  border-right: 1px solid #d6d9dc;
  transition: all 0.3s ease;
}

/* Menu Buttons */
.menu_button {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 600;
  color: #525960;
  background: none;
  border: none;
  cursor: pointer;
  transition:
    background 0.15s,
    color 0.15s;
  text-decoration: none;
}

/* Menu Hover Effect */
.menu_button:hover {
  background-color: #e4e6e8;
  color: #000;
}

/* Selected Menu */
.menu_selected {
  background: #1e7bed !important;
  color: #ffffff !important;
}

.dropdown-menu-button {
  display: flex;
  align-items: center;
}

.dropdown-menu-button .dropdown-menu-icon {
  margin-left: auto;
}

.dropdown-menu-button.dropown-active .dropdown-menu-icon {
  transform: rotate(180deg);
}

/* Dropdown Button */
.menu_dropdown {
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  color: #000;
  background: none;
  border: none;
  width: 100%;
  text-align: center;
  transition: color 0.3s ease;
}

/* Submenu Container */
.additional-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 100%;
  background-color: #f1f2f3;
  transition: all 0.3s ease;
}

/* Submenu Items */
.message-options {
  padding-left: 30px;
}

.message-option-selected {
  background: #1e7bed !important;
  color: white !important;
}

.menu-button-icon {
  width: 1.35rem !important;
  height: 1.35rem !important;
  margin-right: 0.5rem;
}
