/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.game-page {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.game-header h1 {
  font-size: 24px;
  color: #333;
}

/* Button Spacing .game-available,
.game-details {
  margin-bottom: 15px;
} */

.game-modal {
  margin: 1rem 0;
}

.modal-content button {
  margin-right: 1rem;
}

/* Button Specific Classes */
.btn-create-game,
.btn-leave-game,
.btn-refresh-list,
.btn-join-game {
  background: #007bff;
  color: white;
  padding: 0.75rem 1rem;
  height: fit-content;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s ease;
}

.btn-create-game:hover,
.btn-leave-game:hover,
.btn-refresh-list:hover,
.btn-join-game:hover {
  background: #0056b3;
}

button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

/* Available Games List */
.game-list {
}

.game-list h2 {
  font-size: 20px;
  color: #444;
}

.game-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Error Message */
.game-error {
  color: red;
  font-weight: bold;
  margin-top: 15px;
}

.all-games-controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.all-games-controls h2 {
  flex-grow: 1;
}

.all-games-nav {
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
  height: 3.5rem;
  gap: 1rem;
  margin-bottom: 1rem;
}

.all-games-nav-item {
  background: transparent;
  border: none;
  outline: none;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  color: #55606c;
}

.all-games-nav-item:hover {
  color: black;
}

.all-games-nav-item.active {
  border-color: #007bff;
  color: #0056b3;
}
